// ============ Home.js =============


// =========== Carousel.js ==============

.carousel {
    margin-top: -22px;
    height: 500px;
    width: 100vw;
}

#caption {
    position: absolute;
    top: 165px;
    left: 120px;
    font-family: garamond;
    font-size: 2em;
    color: rgb(67, 62, 62);
    letter-spacing: 1px;
}

// =========== Mission.js ===========

.missionHead {
    margin-top: 100px;
}

#mission {
    text-align: center;
    font-family: garamond;
    background:white; 
    padding:0 25px; 
}

#line {
    text-align: center;
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px;
}

#ufo {
    border: 3px solid white;
    border-radius: 15px;
}

.missionBody {
    display: flex;
    justify-content: space-evenly;
    margin-top: 75px;
    // align-items: flex-start;
}

.missionImg {
    display: flex;
}

.blurbContainer {
    display: flex;
    flex-direction: column;
    width: 33vw;
    align-items: flex-start;
}

.missionBlurb {
    display: flex;
    font-size: 18px;
    text-align: left;
}

// ============ Problem.js ==============

.Problem {
    background: #14FCD9;
}

.problemHead {
    margin: 150px 0px 50px 0px;
    padding-top: 100px;
}

#line {
    text-align: center;
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px;
}

#problem {
    margin-top: 100px;
    background: #14FCD9;
    padding: 0px 25px;
    font-family: garamond;
}

.statContainer {
    display: flex;
    justify-content: space-evenly
}

#statSquare {
    background: linear-gradient(white, #7B27F6);
    border-radius: 15px;
    width: 18vw;
    margin: 25px 0px 75px 0px;
}

.statBlurb {
    color: white;
}

// ============== Help.js =============

.helpHead {
    margin: 150px 0px 0px 0px;
}

#help {
    font-family: garamond;
    background: white;
    padding: 0px 25px;
}

#line {
    text-align: center;
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.topHalf {
    margin-top: 75px;
    display: flex;
    justify-content: space-evenly;
}

#helpImg {
    height: 400px;
    width: 500px;
    border: 3px solid white;
    border-radius: 15px;
}

.helpBlurb {
    width: 20vw;
    text-align: left;
}

.helpBtn {
    background: #14FCD9;
    border: 1px solid #14FCD9;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.605);
}

.bottomHalf {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0px 50px 0px;
}

.helpCard {
    background: #14FCD9;
    width: 33vw;
    margin: 10px;
    padding: 10px;
    border: 3px solid white;
    border-radius: 15px;
}

// =========== Newsletter.js ===========

.Newsletter {
    background: #FC21FC;
    margin-top: 0px;
    font-family: garamond;
}

.newsTop {
    display: flex;
    justify-content: space-evenly;
}

#newsHead {
    font-family: garamond;
    margin-left: 25px;
}

#aliens {
    width: 20vw;
}

.newsForm {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin-left: 10vw;
}

.rightSide {
display: flex;
flex-direction: column;
justify-content: flex-start;
}

.forms {
    width: 45vw;
}

.newsInput {
    justify-content: flex-start;
    align-content: center;
    margin: 5px 10px 5px 25px;
    border: 3px solid white;
    border-radius: 5px;
    padding: 5px;
}

.subscribe {
    background: #14FCD9;
    border: 3px solid #14FCD9;
    border-radius: 5px;
    padding: 5px;
}

#disclaimer {
    font-family: garamond;
    color: white;
    text-align: left;
    width: 50vw;
    margin-left: 25px;
}