// ============ Home.js =============


// =========== Carousel.js ==============

.carousel {
    margin-top: -22px;
    height: 500px;
    width: 100vw;
}

// =========== Mission.js ===========

#mission {
    margin: 0 auto;
}




















// =========== Dashboard.js ================

.container {
    width: 95vw;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
}

.widget {
    width: 20vw;
    border: 1px solid black;
}


.userInfo {
    list-style: none;
}