// ========= SideBar.js ============

.SideBar {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    position: absolute;
    z-index: 0;
    top: 0;
    background: white;
}

.aside {
    height: 100%;
    width: 20vw;
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: rgb(77, 76, 76);
    overflow-x: hidden;
    padding-top: 20px;
}

.titleBlock {
    display: flex;
    height: 15vh;
    background: black;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.sideHead {
    color: white;
    font-family: garamond;
    background: black;
    text-align: center;
    letter-spacing: 1px;
    font-size: 30px;
}

// -----------

.userBlock {
    z-index: 1;
    position: absolute;
    background: rgb(77, 76, 76);
    width: 100%;
    top: 100px;
    padding: 3px;
    color: white;
    font-family: garamond;
    display: flex;
    justify-content: center;
}

.userContents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.userPic {
    width: 30px;
    height: 30px;
    padding-top: 15px;
    padding-bottom: 3px;
}

#dashEmail {
    padding: 0px;
}

#role {
    padding-bottom: 5px;
}

// -----------

.dashNav {
    color: white;
    font-family: garamond;
    position: absolute;
    z-index: 1;
    background: gray;
    width: 100%;
    left: 0px;
    top: 265px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    // justify-content: flex-start;
    // align-content: flex-start;
}

.dashList {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}

// -----------

.options {
    font-family: garamond;
    color: white;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 400px;
    display: flex;
    flex-direction: column;
}

.option {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    margin-left: 25px;
    margin-bottom: -10px;
}

// =========== ProfileCard.js ===============

.ProfileCard {
    position: absolute;
    z-index: 1;
    left: 25vw;
    top: 40px;
}

#line {
    position: absolute;
    z-index: 1;
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    top: 45px;
    width: 100vw;
    padding: 10px 0px;
}